# Google Analytics
NEXT_PUBLIC_GA_ID=YOUR_GA_ID

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://corpussanati.com
NEXT_PUBLIC_PHONE=+5493816372613
NEXT_PUBLIC_EMAIL=corpussanati@gmail.com
NEXT_PUBLIC_WHATSAPP=5493816372613
